body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/098/483/original/currency.jpg?1695999873");
  background-size: cover;
  background-repeat: repeat;
  background-position: center;
}
